force-app/main/default/flows/Payment_Authorization_RVW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Authorize_Payment_Action_1</name>
        <label>Authorize Payment Action 1</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>authorizePayment</actionName>
        <actionType>authorizePayment</actionType>
        <connector>
            <targetReference>Response_Display_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>paymentAuthorizationRequest</name>
            <value>
                <elementReference>authRequest</elementReference>
            </value>
        </inputParameters>
        <nameSegment>authorizePayment</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_authorization_input</name>
        <label>Assign authorization input</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>cardPaymentMethod.cardNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cardPaymentMethod.expiryMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiration_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cardPaymentMethod.expiryYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiration_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cardPaymentMethod.cvv</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CVV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cardPaymentMethod.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cardPaymentMethod.cardHolderFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cardPaymentMethod.cardHolderLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cardPaymentMethod.cardType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visa</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authRequest.accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001D200001379GHIAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authRequest.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authRequest.currencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authRequest.effectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authRequest.paymentGatewayId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0b0D1000000CaW8IAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authRequest.paymentMethod.cardPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cardPaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Authorize_Payment_Action_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Payment Authorization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Authorization</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Enter_Credit_Card_Information</name>
        <label>Enter Credit Card Information</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Input_card_details</targetReference>
        </connector>
        <fields>
            <name>CreditCardEntry</name>
            <extensionName>c:creditCardEntry</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_card_details</name>
        <label>Input card details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_authorization_input</targetReference>
        </connector>
        <fields>
            <name>Card_Number</name>
            <dataType>String</dataType>
            <fieldText>Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiration_Month</name>
            <dataType>Number</dataType>
            <fieldText>Expiration Month</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Expiration_Year</name>
            <dataType>Number</dataType>
            <fieldText>Expiration Year</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CVV</name>
            <dataType>Number</dataType>
            <fieldText>CVV</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Pay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Response_Display_Screen</name>
        <label>Response Display</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Response_Display</name>
            <fieldText>&lt;p&gt;Response Code: {!Authorize_Payment_Action_1.paymentAuthorizationResponse.gatewayResponse.gatewayAuthorizationCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!Authorize_Payment_Action_1.paymentAuthorizationResponse.error.message}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Payment Auth Id: {!Authorize_Payment_Action_1.paymentAuthorizationResponse.paymentAuthorization.id}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Credit_Card_Information</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>authRequest</name>
        <apexClass>ConnectApi__AuthorizationRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cardPaymentMethod</name>
        <apexClass>ConnectApi__CardPaymentMethodRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
